.page__content {
    padding: 0;
    padding-top: 45px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-width: 320px;
}

/*350*/

@media screen and (max-width: 350px) {
    .page__content {
        padding-top: 28px;
        padding-bottom: 36px;
    }
}